/* 
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.page.theme_light {
  --accent-color: #ff8dcb;
  --main-bg-color: #fff1f7;
  --main-text-color: #353430;
  --nav-color: #353430;
  --main-heading-color: #353430;
  --section-heading-color: #353430;
  --header-logo-color: #ffc2e6;
  --footer-logo-color: #ffc2e6;
  margin: 0 auto;
  background-attachment: fixed;
  background-image: url(../images/cover-image-light.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.theme_light .header_rec {
  display: none;
}

.theme_light .header__theme-menu-button_active {
  border: 1px solid var(--nav-color);
}

.theme_light .header__theme-menu-button:focus {
  border-bottom: 1px solid #353430;
}

.theme_light .header__theme-menu-button:hover {
  border: 1px solid rgba(50 49 45 /.4);
}

@media (prefers-color-scheme: light) {
  :root {
  --accent-color: #ff8dcb;
  --main-bg-color: #fff1f7;
  --main-text-color: #353430;
  --nav-color: #353430;
  --main-heading-color: #353430;
  --section-heading-color: #353430;
  --header-logo-color: #ffc2e6;
  --footer-logo-color: #ffc2e6;
  }
}

.theme_light .header__theme-menu-button {
  font-size: 1.16rem;
  color: var(--main-text-color);
  width: 4.4rem;
  height: 1.6rem;
  text-transform: lowercase;
  background-color: transparent;
}

.theme_light section a:default {
  color: #FF8DCB;
}

.theme_light section a:hover {
  text-decoration: underline;
}

.theme_light section a:focus {
  border: 1px solid #353430;
}

.theme_light .title {
  font-size: 9.8rem;
  font-weight: bold;
  color: #FFC2E6;
  text-shadow: 0.03em 0.03em #FF0070;
  margin-top: 24.0vw;
  height: 130px;
}

.theme_light .header_description {
  color: #353430;
  font-size: 18px;
  background-color: #FF8DCB;
  width: 27.3em;
  height: 3.8em;
  margin-left: 49.7vw;
  font-weight: bold;
  margin-top: 148px;
  word-spacing: 0.01em;
}

.theme_light section h2 {
  color: #353430;
  font-size: 18px;
}

.theme_light section h3 {
  color: #353430;
  background-color: #FF8DCB;
}

.theme_light section p {
  color: #353430;
  font-size: 18px;
}