/* 
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.page.theme_light {
  --accent-color: #ff8dcb;
  --main-bg-color: #fff1f7;
  --main-text-color: #353430;
  --nav-color: #353430;
  --main-heading-color: #353430;
  --section-heading-color: #ff8dcb;
  --header-logo-color: #ffc2e6;
  --footer-logo-color: #ffc2e6;
  background-attachment: fixed;
  background-image: url(../images/cover-image-light.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.theme_light .header_rec {
  display: none;
}